@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 background-color: #202040;
 -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 14px Roboto, sans-serif;
}

pre { 
  white-space: pre-wrap;
  font-size: 12px;
  padding: 10px;
  background-color: #ffbd69;
}